@import url("fonts/ComputerModern.css");

@import url("fonts/ComputerModernSerif.css");

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


html{
    height: 100%;
    overflow-y: auto;
}
section{
    height: 100%;
}
body{
    font-family: ComputerModern, Helvetica, Arial, serif;
    height: 100%;
    margin: 0;    
    overflow: hidden;
    overflow-y: auto;
}
article{
    height: 100%;
    background-color: #a22b25;
    overflow-y: auto;
}
article:nth-of-type(2){
    height: 100%;
    background-color: #f49302;
}
article:nth-of-type(3){
    height: 100%;
    background-color: grey;
}
h1, h2{
    margin-top: 2em;
    text-align: center;
}
h1{
    font-size: 300%;
	text-align: center;
	font-family: 'Computer Modern Serif', serif, sans-serif;
    margin-bottom: 1em;
    color: darkgrey;
}
h2{
    font-size: 125%;
	text-align: center;
	font-family: 'Computer Modern Serif', serif, sans-serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
h1:first-letter{
	text-transform: uppercase;
}
article ~ article{
    font-size: 1.5em;
}
h3{
    font-size: 120%;
	text-align: center;
}
h4{
    padding-left: 5vh;
}
p{
    padding-left:.5em;
}


/*  
                  ###  NAV  ###
*/

nav{
    margin: auto;
    margin-top: 20vh;
}
nav ul{
    text-align: center;
    display: block;
    margin:0;
    padding:0;
}
nav ul *{
    display: inline-block;
}
nav li a:after{
    font: normal normal normal 1em FontAwesome;
    content: " \f063 ";
    color: black;
}
nav li a:hover:after{
    color: white;
}
nav li{
    margin: 1em;
}
nav li a:hover{
    border: 1px solid grey;
}
nav li a{
    border: 1px dotted grey;
    padding: 4vh;
    color: darkgrey;
    font-size: 1.5em;
    text-decoration: none;
}

/*** Selecteurs ***/
a{
    text-decoration: none;
}
a[href$=".pdf"]:before{
    font: normal normal normal 1em FontAwesome;
    color: darkred;
    content: "\f1c1\ ";
    text-decoration: none;
}
a[href*="wikipedia"]:before{
    font: normal normal normal 1em FontAwesome;
    color: black;
    content: "\f266\ ";
    text-decoration: none;
}
h2:first-of-type::before{
    content: url("http://ressources-infoglue.univ-rennes1.fr/_styles/www.univ-rennes1.fr/interface/logo.png") ;
    content: "\ ";
}
/*article:nth-child(n>1){
    visibility:hidden;
    transform:translateY(-n*100vh);
}
article:target{
    animation: slide 0.5s ease-in-out;
}
@keyframes slide{
    0% { 
        transform: translateY(100vh); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0vh);  
        opacity: 1;
    }
}

???
nav a {
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}*/
